In [46]:
import pandas as pd 
import psycopg2
import time

In [9]:
df = pd.read_csv('yellow_tripdata_2021-01.csv',nrows = 100)

In [10]:
print(pd.io.sql.get_schema(df,name='yellow_taxi_data'))

CREATE TABLE "yellow_taxi_data" (
"VendorID" INTEGER,
  "tpep_pickup_datetime" TEXT,
  "tpep_dropoff_datetime" TEXT,
  "passenger_count" INTEGER,
  "trip_distance" REAL,
  "RatecodeID" INTEGER,
  "store_and_fwd_flag" TEXT,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "payment_type" INTEGER,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "congestion_surcharge" REAL
)

In [11]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [12]:
print(pd.io.sql.get_schema(df,name='yellow_taxi_data'))

CREATE TABLE "yellow_taxi_data" (
"VendorID" INTEGER,
  "tpep_pickup_datetime" TIMESTAMP,
  "tpep_dropoff_datetime" TIMESTAMP,
  "passenger_count" INTEGER,
  "trip_distance" REAL,
  "RatecodeID" INTEGER,
  "store_and_fwd_flag" TEXT,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "payment_type" INTEGER,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "congestion_surcharge" REAL
)

In [13]:
from sqlalchemy import create_engine

In [52]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [53]:
engine.connect()

In [18]:
print(pd.io.sql.get_schema(df,name='yellow_taxi_data',con = engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [33]:
df_iter = pd.read_csv('yellow_tripdata_2021-01.csv',iterator= True, chunksize=1000)

In [34]:
df = next(df_iter)

In [35]:
df.head(0).to_sql(name = 'yellow_taxi_data',con=engine, if_exists='replace')

In [36]:
engine.table_names()

['yellow_taxi_data']

In [37]:
df.to_sql(name = 'yellow_taxi_data',con=engine, if_exists='append')

In [54]:
import sqlalchemy as db
connection = engine.connect()
metadata = db.MetaData()
census = db.Table('yellow_taxi_data', metadata, autoload=True, autoload_with=engine)
query = db.select([census]) 
ResultProxy = connection.execute(query)
ResultSet = ResultProxy.fetchall()
ResultSet[:2]

Exception during reset or similar
Traceback (most recent call last):
  File "/Users/ahmed.omar/opt/anaconda3/lib/python3.8/site-packages/sqlalchemy/pool/base.py", line 697, in _finalize_fairy
    fairy._reset(pool)
  File "/Users/ahmed.omar/opt/anaconda3/lib/python3.8/site-packages/sqlalchemy/pool/base.py", line 893, in _reset
    pool._dialect.do_rollback(self)
  File "/Users/ahmed.omar/opt/anaconda3/lib/python3.8/site-packages/sqlalchemy/engine/default.py", line 543, in do_rollback
    dbapi_connection.rollback()
psycopg2.OperationalError: terminating connection due to administrator command
server closed the connection unexpectedly
	This probably means the server terminated abnormally
	before or while processing the request.

[(0, 1, '2021-01-01 00:30:10', '2021-01-01 00:36:12', 1, 2.1, 1, 'N', 142, 43, 2, 8.0, 3.0, 0.5, 0.0, 0.0, 0.3, 11.8, 2.5),
 (1, 1, '2021-01-01 00:51:20', '2021-01-01 00:52:19', 1, 0.2, 1, 'N', 238, 151, 2, 3.0, 0.5, 0.5, 0.0, 0.0, 0.3, 4.3, 0.0)]

In [56]:
connection.close()

In [48]:
while True: 
    #t_start = time()
    df=next(df_iter)
    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
    df.to_sql(name = 'yellow_taxi_data',con=engine, if_exists='append')

    #t_end = time()

    #print('insterted other rows took %.3f seconds' % (t_end - t_start))

KeyboardInterrupt:

In [ ]:
""